body {
    background-color: rgba(0,183,255, 1);
    background-image: url("./images/GodBG.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-family: 'Roboto', sans-serif;
    color: white;
    margin: 0;
    padding: 0;    
}


/* Path: client\src\components\Login\Login.css */


  
  .container {
    backdrop-filter: blur(20px);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem 3rem;
    padding-bottom: 2rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 20%;
    margin: 0 auto;
    margin-top: 10rem;
    margin-left: 6%;
    box-shadow: 10ch;
    border-radius: 20px;
  }
  
  h2 {
    margin: 1rem 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
    color: rgb(255, 255, 255);


  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    
  }
  
  form div {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
  }
  
  input {
    padding: 0.5rem;
    border-radius: 0.3rem;
    border: 1px solid rgb(255, 255, 255);
    font-size: 1.1rem;
    backdrop-filter: blur(20px);
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.5);
    font-weight: bold;
    font-family: 'Roboto', sans-serif;

  }
  
  button {
    background-color: rgb(147, 156, 236);
    color: white;
    border: none;
    padding: 0.5rem;
    font-size: 1rem;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 0.3rem;
    font-weight: bold;
    transition: all 0.3s ease-in-out;



  }
  
  span a {
    text-decoration: none;
    color: rgb(80, 98, 255);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;

  }
  
  .private {
    backdrop-filter: blur(20px);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 1rem;
    flex-direction: column;
    
  }
  
  .logout {
    backdrop-filter: blur(20px);
    border-radius: 2rem;
    cursor: pointer;
    position: relative;
    margin-left: 70%;
    left: 0%;
    top: 0%;
    background-color: black
  }
  
  /* appBar */
 .image {
    backdrop-filter: blur(20px);
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10%;
  }
  















  .addingfrm {
    border: 1px solid rgb(255, 255, 255);
    backdrop-filter: blur(20px);
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    padding: 1rem;
    border-radius: 0.5rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    margin-top: 10rem;
    margin-left: 6%;

  }
  
  .addingfrm div {
    display: flex;
    flex-direction: column;
    color: white;
    gap: 0.5rem;


  }
  
  .addinginput {
    color: white;
    border-radius: 0.3rem;
    font-size: 1.1rem;
    backdrop-filter: blur(20px);
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    transition: all 0.3s ease-in-out;
    border: 1px solid rgb(255, 255, 255);
    
  }
  .addinginput label{

    color: white;
  }
 
 